* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
}

html,
body {
  color: white;
  background-color: #1b1b32;
  font-family: Lato, sans-serif;
  margin-top: 48px;
}

h1 {
  color:#1b1b32;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px;
}

.app-task {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.fcc-logo-contenedor {
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fcc-logo {
  width: 400px;
  height: 50px;
}

/* Lista de tareas */
.task-list-main {
  width: 600px;
  min-height: 500px;
  background-color: #d0d0d5;
  padding: 25px;
  margin: 10px;
  justify-content: center;
  border-radius: 26px;
  box-shadow: 0 0 2 #d0d0d5;
}